{% verbatim %}


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    <h2>Создание колоды</h2>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form" action="" name="create_deck">
        <div class="form-group">
            <label  for="mane" class="col-xs-2 control-label">Название колоды</label>
            <div class="col-xs-10">
                <input required input-validate class="form-control" id="name" name="name" type="text" ng-model="data.name" is-submited="submited">
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn custom-button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">Отмена</button>
    <button class="btn btn-primary custom-button" data-dismiss="modal" type="submit" ng-click='submit(create_deck)'>Создать</button>
</div>

{% endverbatim %}
