{% verbatim %}

<div class="container-fluid" ui-view>
    <div class="row">
        <div class="col-xs-3 deck-container" ng-repeat="deck in decks">
            <a href role="button" ui-sref="study({id: deck.id})">
                <div class="deck">

                    <p class="deck-text">
                        {{ deck.name }}
                    </p>
                </div>
            </a>
            <div class="action-button">
                <div type="button" class="glyphicon glyphicon-edit" ui-sref="editing({id: deck.id})"></div>
                <div type="button" class="glyphicon glyphicon-remove" ng-click="removeDeck(deck)"></div>
            </div>


        </div>
        <div class="col-xs-3 deck-container">
            <a href role="button" data-toggle="modal" ng-click="createDeck()">
                <div class="deck">
                    <p class="deck-text">
                        Создать колоду
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>

{% endverbatim %}
