{% verbatim %}

<div class="container-fluid">
    <div class="row">
        <h2>Редактировать колоду</h2>
    </div>
</div>


<form class="form-horizontal" role="form" action="" name="editing_deck">
    <div class="form-group">
        <label  for="name" class="col-xs-2 control-label">Название колоды</label>
        <div class="col-xs-10">
            <input required input-validate class="form-control" name="name" type="text" ng-model="data.name" is-submited="submited">
        </div>
    </div>

    <div class="row">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th>Первая сторона</th>
                    <th>Вторая сторона</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="card in data.cards">
                    <th>
                        <button class="btn btn-default custom-button" ng-click="removeCard(card)">Удалить</button>
                    </th>
                    <th>
                        <input required input-validate class="form-control" name="one_side" type="text" ng-model="card.one_side" is-submited="submited">
                    </th>
                    <th>
                        <input required input-validate class="form-control" name="another_side" type="text" ng-model="card.another_side" is-submited="submited">
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</form>

<div class="container-fluid">
    <div class="row">
        <button class="btn btn-default" ng-click="newCard()">Создать новую карту</button>
        <button type="submit" class="btn btn-default" ng-click="saveDeck(editing_deck)">Сохранить колоду</button>

    </div>
</div>

{{ data}}



{% endverbatim %}
