{% verbatim %}
<div class="container-fluid">
    <div class="row">
        <h2>Войти</h2>
    </div>
</div>

<form class="form-horizontal" role="form" action="" name="login" novalidate>
    <div class="form-group">
        <label for="email" class="col-xs-4 control-label">E-mail</label>
        <div class="col-xs-6">
            <input required input-validate type="email" id="email" name="email" class="form-control" placeholder="E-mail" ng-model="user.email" is-submited="submited">
            <form-errors errors="errors.email" field-name="email" is-submited="submited">
        </div>
    </div>
    <div class="form-group">
        <label  for="password" class="col-xs-4 control-label">Пароль</label>
        <div class="col-xs-6">
            <input required input-validate type="text" id="password" name="password" class="form-control" placeholder="Пароль" ng-model="user.password" is-submited="submited">
            <form-errors errors="errors.password" field-name="password" is-submited="submited">
        </div>
    </div>
</form>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2 col-xs-offset-8">
            <div class="pull-right">
                <button type="submit" class="btn btn-default custom-button" ng-click="submit(login)">Войти</button>
            </div>
        </div>
    </div>
</div>

{% endverbatim %}
