{% verbatim %}


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="submit()">×</button>
    <h2>Сообщение</h2>
</div>
<div class="modal-body">
    <h3>{{text}}</h3>
</div>
<div class="modal-footer">
    <button class="btn btn-primary custom-button" data-dismiss="modal" type="submit" ng-click='submit()'>Ок</button>
</div>

{% endverbatim %}
