{% verbatim %}


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    <h2>Изменение пароля</h2>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form" action="" name="updatePassword" novalidate>
        <div class="form-group">
            <label for="password_old" class="col-xs-4 control-label">Старый пароль</label>
            <div class="col-xs-6">
                <input input-validate required class="form-control" type="text" id="password_old" name="password_old" placeholder="Старый пароль" ng-model="user.password_old" is-submited="submited">
                <form-errors errors="errors.password_old" field-name="password_old" is-submited="submited">
            </div>
        </div>

        <div class="form-group">
            <label for="password1" class="col-xs-4 control-label">Новый пароль</label>
            <div class="col-xs-6">
                <input input-validate required class="form-control" type="text" id="password1" name="password1" placeholder="Новый пароль" ng-model="user.password1" is-submited="submited">
                <form-errors errors="errors.password1" field-name="password1" is-submited="submited">
            </div>
        </div>
        <div class="form-group">
            <label for="password2" class="col-xs-4 control-label">Подтверждение пароля</label>
            <div class="col-xs-6">
                <input input-validate required class="form-control" type="text" id="password2" name="password2" placeholder="Подтверждение пароля" ng-model="passwordConfirm" is-submited="submited" confirm="{{ user.password1 }}">
                <form-errors errors="[]" field-name="password2" is-submited="submited">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn custom-button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">Отмена</button>
    <button class="btn btn-primary custom-button" data-dismiss="modal" type="submit" ng-click='submit(updatePassword)'>Изменить</button>
</div>

{% endverbatim %}
