{% verbatim %}

<div class="container-fluid">
    <h2 class="page-header">Профиль</h2>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="avatar-container">

                    <p>
                        <label for="newAvatar">
                            <img ng-src="{{user.avatarUrl}}" class="avatar img-rounded img-thumbnail" alt="avatar" width="300" height="300">
                            <input type="file" name="newAvatar" id="newAvatar" file-model="myFile" accept="image/jpeg,image/png"/>
                        </labal>
                    </p>
                    <div type="button" class="action-button glyphicon glyphicon-remove" ng-click="removeAvater()"></div>

            </div>
        </div>
        <div class="col-md-8 col-sm-6 col-xs-12">
            <h3>Данные</h3>
            <form class="form-horizontal" role="form" action="" name="profile">
                <div class="form-group">
                    <div class="profile">
                        <label  for="email" class="col-md-2 control-label">Email</label>
                    </div>
                    <div class="col-md-8">
                        <input input-validate required readonly type="text" id="email" name="email" class="form-control" ng-model="user.email" is-submited="submited">
                    </div>
                </div>
                <div class="form-group">
                    <div class="profile">
                        <label for="name" class="col-md-2 control-label">Имя</label>
                    </div>
                    <div class="col-md-8">
                        <input input-validate required type="text" id="name" name="name" class="form-control" ng-model="user.name" is-submited="submited">
                        <form-errors errors="errors.name" field-name="name" is-submited="submited"></form-errors>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-7">
            <div class="pull-right">
                <button class="btn btn-default custom-button" ng-click="updatePassword()">Изменить пароль</button>
                <button type="submit" class="btn btn-default custom-button" ng-click="save(profile)">Сохранить</button>
            </div>
        </div>

    </div>
</div>




{% endverbatim %}
