{% verbatim %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h2>Регистрация</h2>
        </div>
    </div>
</div>

<form ng-if="!is_success" class="form-horizontal" role="form" action="" name="reg" novalidate>
    <div class="form-group">
        <label for="email" class="col-xs-4 control-label">E-mail</label>
        <div class="col-xs-6">
            <input input-validate required type="email" id="email" name="email" class="form-control" placeholder="E-mail" ng-model="user.email" is-submited="submited">
            <form-errors errors="errors.email" field-name="email" is-submited="submited">
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="col-xs-4 control-label">Имя пользователя</label>
        <div class="col-xs-6">
            <input input-validate required class="form-control" type="text" id="username" name="username" placeholder="Имя пользователя" ng-model="user.username" is-submited="submited">
            <form-errors errors="errors.username" field-name="username" is-submited="submited">
        </div>
        <!-- <my-directive errors="errors.name"> -->
        <!-- <form-errors errors="errors.name" field="user.username"> -->
    </div>
    <div class="form-group">
        <label for="password1" class="col-xs-4 control-label">Пароль</label>
        <div class="col-xs-6">
            <input input-validate required class="form-control" type="text" id="password1" name="password1" placeholder="Пароль" ng-model="user.password1" is-submited="submited">
            <form-errors errors="errors.password1" field-name="password1" is-submited="submited">
        </div>
    </div>
    <div class="form-group">
        <label for="password2" class="col-xs-4 control-label">Подтверждение пароля</label>
        <div class="col-xs-6">
            <input input-validate required class="form-control" type="text" id="password2" name="password2" placeholder="Подтверждение пароля" ng-model="passwordConfirm" is-submited="submited" confirm="{{ user.password1 }}">
            <form-errors errors="[]" field-name="password2" is-submited="submited">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-8">
            <div class="pull-right">
                <button type="submit" class="btn btn-default custom-button" ng-click="submit(reg)">Отправить</button>
            </div>
        </div>
    </div>
</form>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-dander" ng-if="!reg.$valid && submited && !is_success">
                Для регистрации исправьте ошибки выше
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-if="is_success">
            <p>Пользователь создан успешно</p>
        </div>
    </div>
</div>
{% endverbatim %}
