{% verbatim %}


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    <h2>Удаление колоды</h2>
</div>
<div class="modal-body">
    <h3>Удалить колoду {{deck.name}}?</h3>
</div>
<div class="modal-footer">
    <button class="btn custom-button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">Отмена</button>
    <button class="btn btn-primary custom-button" data-dismiss="modal" type="submit" ng-click='submit()'>Удалить</button>
</div>

{% endverbatim %}
