{% verbatim %}

<div class="container-fluid" ui-view ng-if="!is_end" >

    <div class="row">
        <h2>Учить</h2>
    </div>
    <div class="row">
        <div class="col-xs-3 col-xs-offset-3 deck-container">
            <div class="deck">
                <p class="deck-text">
                    {{ cards[index].one_side }}
                </p>
            </div>
        </div>
        <div class="col-xs-3 deck-container">
            <div class="deck">
                <p ng-hide="question" class="deck-text">
                    {{ cards[index].another_side }}
                </p>
                <p ng-show="question" class="deck-text">
                    ???
                </p>
            </div>
        </div>
    </div>
</div>
<form class="form-horizontal" role="form" action="" name="cards" novalidate ng-if="!is_end">
    <div class="form-group">
        <label for="answer" class="col-xs-3 control-label">Ответ</label>
        <div class="col-xs-6">
            <input type="text" id="answer" name="answer" class="form-control" ng-model="data.answer">
        </div>
        <button ng-if="question" class="btn btn-default" ng-click="check()">Проверить</button>
        <button ng-if="!question" class="btn btn-default" ng-click="next()">Следующая</button>
    </div>
</form>
<div class="container-fluid" ui-view ng-if="is_end && !not_cards" >
    <div class="row">
        <h2>Обучение завершено</h2>
    </div>
</div>
<div class="container-fluid" ui-view ng-if="not_cards" >
    <div class="row">
        <h2>В данной колоде нет доступных карт для изучения выбирите другую колоду или добавьте карты </h2>
    </div>
</div>

{{cards}}
{{data}}



{% endverbatim %}