{% verbatim %}

<div>
    <ul>
        <li ng-show="field.$dirty && field.$error['confirm']">{{ error_list['confirm'] }}</li>
        <li ng-show="field.$error['email']">{{ error_list['email'] }}</li>
    </ul>
    <ul ng-show="isSubmited">
        <li ng-show="field.$error['required']">{{ error_list['required'] }}</li>
        <li ng-repeat="error in serverErrors">{{ error }}</li>
    </ul>
</div>
{% endverbatim %}
