{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- jQuery -->
    <script type="text/javascript" src="{% static "js/jquery-2.1.1.js" %}"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.css" %}">
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- angularjs lib -->
    <script type="text/javascript" src="{% static "js/angular.js" %}"></script>
<!--     <script type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script> -->
    <script type="text/javascript" src="{% static "js/angular-ui-router.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ui-bootstrap-tpls-0.11.0.js" %}"></script>

    <!-- angular my files -->
    <script src="{% static "js/angular/app.js" %}"></script>
    <script src="{% static "js/angular/controllers.js" %}"></script>
    <script src="{% static "js/angular/services.js" %}"></script>
    <script src="{% static "js/angular/directives.js" %}"></script>

</head>
{% verbatim %}
<body ng-app="flashcards">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a ui-sref="index" class="navbar-brand">Flashcards</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="auth">
                <ul class="nav navbar-nav pull-right" ng-if="!auth.isAuthenticated()">
                    <li ui-sref-active="active"><a ui-sref="login">Войти</a></li>
                    <li ui-sref-active="active"><a ui-sref="registration">Регистрация</a></li>
                </ul>
                <ul class="nav navbar-nav" ng-if="auth.isAuthenticated()">
                    <li ui-sref-active="active"><a ui-sref="decks" ui-sref-opts="{ reload: true }">Колоды</a></li>
                    <!--<li ui-sref-active="active"><a ui-sref="editing" ui-sref-opts="{ reload: true }">Редактировать колоды</a></li>
                    <li ui-sref-active="active"><a ui-sref="study" ui-sref-opts="{ reload: true }">Учить</a></li>-->
                </ul>
                <ul class="nav navbar-nav pull-right" ng-if="auth.isAuthenticated()">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                            {{ auth.isAuthenticated().name }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ui-sref="profile">Профиль</a></li>
                            <li><a>Статистика</a></li>
                            <li class="divider"></li>
                            <li ui-sref-active="active"><a href="#" ng-click="auth.logout()">Выйти</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid" >
        <!-- div#some.some2>(div.some3+.some4)>.some5 -->
        <!-- <div id="some" class="some2">
            <div class="some3"></div>
            <div class="some4"></div>
            <div class="some5"></div>
        </div> -->
        <!-- .some4>(li*5) -->
        <!-- <div class="some4">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </div> -->

        <!-- <div ng-if="user.authenticated">
        <!-- <div ng-if="user.authenticated">
            nav1
        </div>
        <div ng-if="!user.authenticated">
            nav2
        </div> -->
        <ui-view></ui-view>
    </div>

</body>
{% endverbatim %}
</html>
