.deck {
    height: 200px;
    /*background-color: #A0A0A0;*/
    background-image: url(/static/images/shirt-cards-1.jpg);
    border-radius: 8px;
    vertical-align: middle;
    display: table;
}

.deck-container {
    padding: 5px !important;
}
.deck-container a {
    text-decoration: none !important;

}

.deck-text {
    width: 1%;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: #0067BF;
    font-size: 20px;
}

.form-horizontal .form-group .profile .control-label {
    text-align: left;
}

.custom-button {
    width: 150px !important;
}

.avatar-container {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left:-150px;
    width: 300px;
}

.avatar-container input[type="file"] {
    display: none;

}

.action-button {
    position: absolute !important;
    right: 10px !important;
    top: 10px !important;
    cursor: pointer;
}



